/*fonts pour le site*/
	

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{font-family: 'Raleway-Regular', sans-serif;
    box-sizing: border-box;}
body
{
    padding: 0;
    margin: 0;
}


/********* Entête de la page *******/

header .conteneur-navigation
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .conteneur-navigation .logo
{
    flex: 0.92;
    margin-top: 13px;
    margin-left: 4.5rem;
}
header .conteneur-navigation .conteneur-lii
{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
header .conteneur-navigation .inscription
{
    margin-right: 4.5rem;
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
}
header .conteneur-navigation .inscription:hover
{
    border-top: 3px solid #0065FC;
    padding: 11px 8px;
}
header .conteneur-navigation .conteneur-lii .item-lii
{
    list-style-type: none;
}
header .conteneur-navigation .conteneur-lii .item-lii a
{
    text-decoration: none;
    color: inherit;
    padding: 11px 40px;
}
header .conteneur-navigation .conteneur-lii .item-lii .heb:hover
{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
header .conteneur-navigation .conteneur-lii .item-lii .heb
{
    color: #0065FC;
}
header .conteneur-navigation .conteneur-lii .item-lii .acti:hover
{
    border-top: 3px solid #0065FC;
}
/*************************************PARTIE PRINCIPALE******************************/
.principale .phrase-accroche
{
    color: gray;
   
}
.principale .zone-recherche
{
    display: flex;
    align-items: center;
    
}
input[type="text"]
{
   border: 1px solid #f2f2f2;
   height: 45px;
}
.principale .map
{
    background: #f2f2f2;
    width: 40px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 1rem 0 0 1rem;
}
input[type="text"]
{
    padding-left: 1rem;
}
::-webkit-input-placeholder
{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
button[type="submit"]
{
    height: 45px;
    background: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    padding-right: 1.2rem;     
}
.principale .zone-recherche i.empty
{
  position: relative;
  right: 1.2rem;
}  
/********************PARTIE FILTRES*************************/
.principale
{
    margin-left: 4.5rem;
}
.principale .filtres
{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.principale .filtres .titre-filtre
{
    color: black;
    font-weight: bold;
    margin-right: 2.5rem;
}
.principale .filtres .item-filtre
{
    display: flex;
    border: 2.8px solid #F2F2F2;
    align-items: center;
    height: 40px;
    margin-right: 2.5rem;
    border-radius: 20px;
}
.principale .filtres .ensemble
{
    display: inline-flex;
}
.principale .filtres .icone
{
    background: #DEEBFF;
    margin-left: -1.2rem;
    height: 40px;
    color: #0065FC;
    width: 40px;
    border-radius: 100%;
    text-align: center;
}
.principale .filtres .texte a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 0.7rem;
    padding-right: 0.9rem;
}
.principale .filtres .icone i
{
    color: #0065FC;
    line-height: 40px;
}


/*********partie texte et logo info1***********/
.principale .logo-info-texte
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.principale .logo-info-texte .logo
{
    border: 1.7px solid #F2F2F2;
    margin-right: 0.5rem;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
}
.principale .logo i
{
    color: #0065FC;
    font-size: 10px;
}
/**************Partie Centrale************/
.partie-centrale
{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
#Hebergement
{
    background: #f2f2f2;
    border-radius: 1.5rem;
    width: 970px;
    margin-left: 4.5rem;  
}
#Hebergement h2
{
    margin-top: 1.7rem;
    margin-left: 4rem;
}
.galerie-hebergement
{
    display: flex;
    flex-wrap: wrap; 
    margin-left: 3.4rem;
}
.galerie-hebergement .item-galerie
{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 200px;
    background-color: white;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 2px gray;  
}
.galerie-hebergement .item-galerie .texte-sous-la-photo-galerie
{
  
    width: 80%;
    margin-top: 0.5px;
}
.galerie-hebergement .item-galerie .texte-sous-la-photo-galerie h3
{
    margin-top: 0.5px;
    font-size: 15px;
    font-weight: bold;
}

.galerie-hebergement .item-galerie .texte-sous-la-photo-galerie p
{
    margin-top: -6px;
    color: gray;  
}
.galerie-hebergement .item-galerie .texte-sous-la-photo-galerie .etoile
{
    margin-top: -6px;
}
.galerie-hebergement .item-galerie .texte-sous-la-photo-galerie .etoile i
{
    color: #0065FC;
}
.galerie-hebergement .item-galerie .texte-sous-la-photo-galerie .etoile i.filled
{
    color: #F2F2F2;
}
#Hebergement .voir-plus
{
    margin-top: 1.56rem;
    margin-left: 4rem;
}
#Hebergement .voir-plus a
{
    color: black;
    text-decoration: none;
}
.galerie-hebergement .item-galerie img
{
    width: 95%;
    margin: 0.31rem;
    height: 48%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.18rem;
    object-fit: cover;
    
}
.item-galerie a
{
    text-decoration: none;
    color: black;
}
.item-galerie .texte-sous-la-photo-galerie
{
     margin-left: 1rem;
}
aside
{
    background: #f2f2f2;
    border-radius: 1.5rem;
    margin-right: 4.5rem;
}
aside h2
{
    display: inline-block;
    width: 80%;
    margin-left: 1.87rem;
}

.bloc-galerie-aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.bloc-galerie-aside .item-aside
{
    margin: 1rem;
    background-color: white;
    margin: 1rem;
    width: 320px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px gray;  
    height: 130px;
}
.bloc-galerie-aside .item-aside img
{
    width: 35%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0.40rem;
}
.bloc-galerie-aside .item-aside a
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.12rem;
    text-decoration: none;
}
.bloc-galerie-aside a .texte-sous-la-photo-aside
{
    margin-left: 1rem;
    width: 150px;
    height: auto;
}
.bloc-galerie-aside a .texte-sous-la-photo-aside h3
{
    font-size: 15px;
    color: black;  
}
.bloc-galerie-aside a .texte-sous-la-photo-aside p
{
    margin-top: -10px;
    color: gray;  
}
.bloc-galerie-aside a .texte-sous-la-photo-aside .icone-etoile
{
    margin-top: 35px;
}
.bloc-galerie-aside a .texte-sous-la-photo-aside i
{
    color: #0065FC;
}
.bloc-galerie-aside a .texte-sous-la-photo-aside i.filled
{
    color:#F2F2F2 ;
}

/***********partie Activités**********/
#activité h2
{
    margin-left: 4.5rem;
    margin-top: 4rem;
}
#activité .galerie-activité
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 4.2rem;
    margin-bottom: 3rem;
}
#activité .galerie-activité .item-galerie-activité-photo-unique
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 305px;
    height: 440px;
    box-shadow: 0 0 16px #0000002e;
    margin-right: 4.5rem;
}
#activité .galerie-activité .item-galerie-activité-photo-unique:hover
{
    background-color: white;
    padding: 0.175rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 305px;
    height: 440px;
    justify-content: space-between;
    margin-right: 4.5rem;
}
#activité .galerie-activité .item-galerie-activité-photo-unique img
{
    width: 100%;
    object-fit: cover;
    height: 392px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#activité .galerie-activité .item-galerie-activité-photo-unique a
{
    text-decoration: none;
}
#activité .galerie-activité .item-galerie-activité-photo-unique a p
{
    width: 250px;
    padding-left: 1rem;
    margin-top: 0.7rem;
    color: black;
    font-weight: bold;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .fort-de-pomegue
{
    border-radius: 20px;
    height: 230px;
    box-shadow: 0 0 16px #0000002e;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .fort-de-pomegue:hover
{
    background-color: white;
    padding: 0.175rem;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box; 
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .fort-de-pomegue img
{
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .fort-de-pomegue a
{
    text-decoration: none;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .fort-de-pomegue p
{
    padding-left: 1rem;
    margin-top: 0.7rem;
    color: black;
    font-weight: bold;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .île-du-friout
{
    border-radius: 20px;
    height: 170px;
    box-shadow: 0 0 20px #0000002e;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .île-du-friout:hover
{
    background-color: white;
    padding: 0.175rem;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;   
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .île-du-friout img
{
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .île-du-friout a
{
    text-decoration: none; 
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .île-du-friout p
{
    padding-left: 1rem;
    margin-top: 0.7rem;
    color: black;
    font-weight: bold;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Notre-dame
{
    border-radius: 20px; 
    height: 180px;
    box-shadow: 0 0 20px #0000002e;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Notre-dame:hover
{
    background-color: white;
    padding: 0.175rem;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;  
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Notre-dame img
{
    object-fit: cover;
    width: 100%;
    height: 135px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Notre-dame a
{
    text-decoration: none;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Notre-dame p
{
    padding-left: 1rem;
    margin-top: 0.7rem;
    color: black;
    font-weight: bold;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Parc
{
    border-radius: 20px;
    height: 220px; 
    box-shadow: 0 0 20px #0000002e; 
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Parc:hover
{
    background-color: white;
    padding: 0.175rem;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;   
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Parc img
{
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;  
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Parc a
{
    text-decoration: none;
}
#activité .galerie-activité .item-parent-galerie-activité-photo-double .Parc p
{
    padding-left: 1rem;
    margin-top: 0.7rem;
    color: black;
    font-weight: bold;  
}



/*Partie FOOTER*/
footer
{
    background:#F2F2F2 ;
    display: flex;
}
footer .pied-page
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 4rem;
}
.item-pied-page
{
    margin-right: 7rem;
}
footer ul
{
    width: 20.62rem;
    list-style-type: none;
    margin-left: -1.2rem;
}
footer ul li
{
    padding-bottom: 0.5rem;
}
footer h3
{
    margin-left: 1.25rem;
}
footer ul li a
{
    text-decoration: none;
    color: gray;
}
footer li :hover
{
    color: blue;
}


/*PARTIE RESPONSIVE*/
@media all and (max-width:980px)
 {
     header .conteneur-navigation .logo
     {
         margin-left: 1rem;
     }
     header .conteneur-navigation
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: inherit;
}
     header .conteneur-navigation .inscription
     {
         order: 1;
         margin-right: 0;
     }
     header .conteneur-navigation .conteneur-lii
     {
         order: 2;
     }
     header .conteneur-navigation .conteneur-lii .item-lii .acti
     {
         border-bottom: #F2F2F2 solid 3px;
     }
     header .conteneur-navigation .conteneur-lii .item-lii .heb
     {
         border-bottom: #0065FC solid 3px;
     }
     header .conteneur-navigation .conteneur-lii .item-lii a
     {
         padding: 10px 60px;
     }
 header .conteneur-navigation .conteneur-lii .item-lii .heb
 {
     padding-top: 11px;
     margin-right: 2px;
     padding-right: 2rem;
 }
 .principale
{
    margin-left: 1rem;
}
 .principale h1
 {
     font-size: 22px;
 }
 button[type="submit"]
 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    overflow: hidden;
    position: relative;
    margin-left: -3rem;
    width: 50px;
 }
 .principale .zone-recherche i.empty
 {
     line-height: 42px;
     overflow: hidden;
     padding-left: 2rem;    
 }
 input[type="text"]
 {
   padding: 0 4rem;  
 }
 .principale .filtres .titre-filtre
 {
     width: 50%;
 }
 .principale .filtres .item-filtre
 {
     margin-bottom: 1rem;
     margin-left: 1.2rem;
 }
 .principale .filtres .ensemble .sous-ensemble
 {
     margin-left: -1rem;
 }
 .principale .logo-info-texte .logo
 {
   margin-top: -1.2rem;
 }
 .principale .logo-info-texte p
 {
    font-size: 14px;
    color: gray;
    margin-top: 10px;
 }
 .partie-centrale
 {
     display: flex;
     flex-wrap: wrap-reverse;
 }
 #Hebergement
{
    margin-left: 0;
    border-radius: inherit;
    background: white;  
}
 aside
 {
    margin-right: 0;
    border-radius: inherit;
 }

 aside .bloc-galerie-aside
 {
  
 }
 .bloc-galerie-aside .item-aside
 {
     width: 279px;
 }
 #activité .galerie-activité
 {
     margin-left: 0;
 }
 footer .pied-page
 {
     margin-left: 0;
 }
 .item-pied-page
{
    margin-right: 0;
}
    
}